<a href="https://colab.research.google.com/github/NERDDOOM03/Test/blob/main/naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Naive Bayes
You should build a machine learning pipeline using a naive bayes model. In particular, you should do the following:
- Load the `mnist` dataset using [Pandas](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html). You can find this dataset in the datasets folder.
- Split the dataset into training and test sets using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html). 
- Train and test a naive bayes model using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.GaussianNB.html).
- Check the documentation to identify the most important hyperparameters, attributes, and methods of the model. Use them in practice.

In [22]:
#importing the libraries
import pandas as pd
import sklearn.model_selection
import sklearn.naive_bayes
import sklearn.metrics

In [17]:
#uploading the datasets
df = pd.read_csv("mnist.csv")
df = df.set_index("id")
df.head()

,class,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
id,,,,,,,,,,,,,,,,,,,,,
31953,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34452,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60897,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36953,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1981,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
#training and spliting the datasets
x = df.drop(["class"], axis = 1)
y = df['class']
x_train,x_test,y_train,y_test=sklearn.model_selection.train_test_split(x,y,random_state=8,test_size=0.25)
print("df:", df.shape)
print("x_test:", x_test.shape)
print("x_train:",x_train.shape)
print("y_test:",y_test.shape)
print("y_train:",y_train.shape)

df: (4000, 785)
x_test: (1000, 784)
x_train: (3000, 784)
y_test: (1000,)
y_train: (3000,)

In [20]:
#training the model
nb = sklearn.naive_bayes.GaussianNB()
nb.fit(x_train,y_train)

GaussianNB()

In [24]:
#Testing the model
y_pred = nb.predict(x_test)
accuracy = sklearn.metrics.accuracy_score(y_test,y_pred)
accuracy = accuracy*100
accuracy

66.60000000000001

In [28]:
#Testuing through method 2 
model_be = sklearn.naive_bayes.BernoulliNB()
model_be.fit(x_train,y_train)
model_be
y_pred = model_be.predict(x_test)
accuracy = sklearn.metrics.accuracy_score(y_test,y_pred)
accuracy = accuracy*100
accuracy

82.69999999999999

In [32]:
#testing through method 3 
model_com = sklearn.naive_bayes.ComplementNB()
model_com.fit(x_train,y_train)
model_com
y_pred = model_com.predict(x_test)
accuracy = sklearn.metrics.accuracy_score(y_test,y_pred)
accuracy = accuracy*100
accuracy
print(f"the accuracy is: {accuracy}")

the accuracy is: 70.6