<a href="https://colab.research.google.com/github/NERDDOOM03/Test/blob/main/Self_Taught_Master.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('This is a string {}'.format('lalo'))

This is a string lalo

In [ ]:
print('the {} {} {}'.format('Goal','sid','thing'))
print('the {2} {1} {0})'.format('Goal','sid','thing'))

the Goal sid thing
the thing sid Goal)

In [ ]:
result= 100/777
print(result)
print('the result was {}'.format(result))

0.1287001287001287
the result was 0.1287001287001287

In [ ]:
name = 'Goal'
print('Hello this is {}'.format(name))

Hello this is Goal

In [ ]:
name = 'siddhartha'
print(f'Hey Mygoal this is {name}')

Hey Mygoal this is siddhartha

In [ ]:
name = 'sam'
age = 45
print(f'{name} is {age} years old')

sam is 45 years old

In [ ]:
my_list = ["one","sid",3]
len(my_list)

3

In [ ]:
my_list[1]
my_list[1:]
my_list

['one', 'sid', 3]

In [ ]:
mylist =['SHAR', 'IS', 'INTELLIGENT']
another_list = ['and','klug']
New_list = mylist + another_list
print(New_list)
New_list[0] = 'shar & sid'
print(New_list)
New_list[1] = 'are'
print(New_list)
New_list.append('Vielien dank')
print(New_list)
New_list.pop(3)
print(New_list)

['SHAR', 'IS', 'INTELLIGENT', 'and', 'klug']
['shar & sid', 'IS', 'INTELLIGENT', 'and', 'klug']
['shar & sid', 'are', 'INTELLIGENT', 'and', 'klug']
['shar & sid', 'are', 'INTELLIGENT', 'and', 'klug', 'Vielien dank']
['shar & sid', 'are', 'INTELLIGENT', 'klug', 'Vielien dank']

In [ ]:
My_Frau ={'sha':3003, 'sid':2105}
print(My_Frau['sha'])
My_dict = {'Dicky':1101,'tom':[0,1,3],'harry':3023}
print(My_dict['tom'])
print(My_dict['harry'])

3003
[0, 1, 3]
3023

In [ ]:
D = {'key':['a','b','c','d']}
print(D)
print(D['key'])
print(D['key'][2])
print(D['key'][2].upper())

{'key': ['a', 'b', 'c', 'd']}
['a', 'b', 'c', 'd']
c
C

In [ ]:
d = {'s':35,'si':32}
print(d)
d['s3'] = 100
print(d)
type(d)

{'s': 35, 'si': 32}
{'s': 35, 'si': 32, 's3': 100}

dict

In [ ]:
t =(1,2,3)
type(t)
print(t[1])
t = ('a','a','a','b')
t.count('a')
t.index('b')
t.index('a')
mylist = [1,2,3]
print(mylist)
mylist[1] = "New"
print(mylist)

2
[1, 2, 3]
[1, 'New', 3]

In [ ]:
myset = set()
print(myset)
mylist =[1,1,1,1,1,2,2,2,2,2,2,5,5,5,4,4,4,4]
set(mylist)

set()

{1, 2, 4, 5}

In [ ]:
1>2

False

In [ ]:
hungry = True
if hungry :
  print('feed me')

feed me

In [ ]:
hungry = False
if hungry :
  print('bhook lagi hai')
else :
 print('nai bhook lagi hai')

nai bhook lagi hai

In [ ]:
loc = 'Bank' 
if loc == 'Bank': 
 print('Nice car')
else :
  print('I am not sure')

Nice car

In [ ]:
name = 'hari'
if name == 'denis':
 print('hello denis')
elif name == 'Sha':
  print('hey Hi')
else :
 print('whats your name')

whats your name

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for jelly in mylist:
  print(jelly)

1
2
3
4
5
6
7
8
9
10

In [ ]:
mylist = ['sid','is','smart']
for jelly in mylist:
   print(jelly)

sid
is
smart

In [ ]:
mylist = [11,12,13,1,2,3,4,5,6,7,8,9,10,14,15]
for jelly in mylist:
  if jelly % 2 == 0:
    print(jelly)
  else:
      False

12
2
4
6
8
10
14

In [ ]:
mylist = [213,3003,3002,10,'note a asa',21,30,24,18,19,4002,42,]
for num in mylist:
  if isinstance(num, int):
    if num % 3 == 0:
      print(f' odd number:{num}')
    elif num % 5 == 0:
      print(f'funf number: {num}')
    else:
      print(f'even number:{num}')

 odd number:213
 odd number:3003
even number:3002
funf number: 10
 odd number:21
 odd number:30
 odd number:24
 odd number:18
even number:19
 odd number:4002
 odd number:42

In [ ]:
test = "hello"
print(test % 2)

TypeError: ignored

In [ ]:
mylist

In [ ]:
Mylist = [1,2,3]
list_sum = 0
for num in Mylist:
  list_sum = list_sum + num
print(list_sum)

6

In [ ]:
mystring = 'German study visa approved'
for approval in mystring:
  print(approval)

G
e
r
m
a
n

s
t
u
d
y

v
i
s
a

a
p
p
r
o
v
e
d

In [ ]:
mytup = [(1,2),(3,4),(5,6)]
for items in mytup:
  print(items)

(1, 2)
(3, 4)
(5, 6)

In [ ]:
mytup = [(1,2),(3,4),(5,6)]
for (a,b) in mytup:
  print(a)
  print(b)

1
2
3
4
5
6

In [ ]:
mytup = [(1,2,3),(3,4,5),(6,7,8)]
for (a,b,c) in mytup:
  print(c)

3
5
8

In [ ]:
d = {'K1': 1, 'K2': 2}
for item in d:
  print(item)

K1
K2

In [ ]:
d = {'K1': 1, 'K2': 2, 'K3': 3}
for item in d.items():
  print(item)

('K1', 1)
('K2', 2)
('K3', 3)

In [ ]:
d = {'K1': 1, 'K2': 2, 'K3': 3}
for value in d.values():
  print(value)

1
2
3

In [ ]:
x = 0
while x < 12:
  print(f'the value of x is {x}')
  x = x + 2
else :
  print( 'X  is not less than 12')

the value of x is 0
the value of x is 2
the value of x is 4
the value of x is 6
the value of x is 8
the value of x is 10
X  is not less than 12

In [ ]:
y = 0
while y < 7:
  print(f'the value of y is {y}')
  y = y+1.5
else:
  print(f'not less than  {y}')

the value of y is 0
the value of y is 1.5
the value of y is 3.0
the value of y is 4.5
the value of y is 6.0
not less than  7.5

In [ ]:
mystring = 'I got sacrad water'
for sentence in mystring:
  if sentence == "f":
    continue
  print(sentence)

I

g
o
t

s
a
c
r
a
d

w
a
t
e
r

In [ ]:
x = 0
while x < 12:
 x = x + 1
 if x == 7:
  break
 print (x)

1
2
3
4
5
6

In [ ]:
mylist =[1,2,3]
for num in range(9):
 print(num)

0
1
2
3
4
5
6
7
8

In [ ]:
mylist =[1,2,3]
for num in range(0,10,2):
  print(num)

0
2
4
6
8

In [ ]:
index_count = 0 
for letter in 'abcde':
 print('index_count{} the letter is {}')
 index_count += 1

index_count{} the letter is {}
index_count{} the letter is {}
index_count{} the letter is {}
index_count{} the letter is {}
index_count{} the letter is {}

In [ ]:
index_count = 0
word = 'abcde'
for letter in word:
   print(word[index_count])
   index_count += 1

a
b
c
d
e

In [ ]:
colors = ('red','orange','blue')

In [ ]:

for index, color in enumerate(colors):
    print('the color at location', index, 'is',color)

the color at location 0 is red
the color at location 1 is orange
the color at location 2 is blue

In [ ]:
word = 'abcde'
for item in enumerate (word):
  print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [ ]:
word = 'abcde'
for index, item in enumerate(word):
  print(index,item)

0 a
1 b
2 c
3 d
4 e

In [ ]:
input('what is your name')
print(input)

what is your name jose
<bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x7f7419925210>>

In [ ]:
result = input('what is your name')

what is your name jose

In [ ]:
mylist = [x for x in 'word']
print(mylist)

['w', 'o', 'r', 'd']

In [ ]:
mylist = [num for num in range(0,11)]
print(mylist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
mylist = [num**2 for num in range(0,11)]
print(mylist)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
mylist = [x for x in range(0,11) if x%2==0]
print(mylist)

[0, 2, 4, 6, 8, 10]

In [ ]:
celcius = [0,10,20,30,35.5]
Fahrenhite = [((9/5)*temp +32) for temp in celcius]
print(Fahrenhite)

[32.0, 50.0, 68.0, 86.0, 95.9]

In [ ]:
Fahrenhite = []
for temp in celcius:
  Fahrenhite.append((9/5)*temp +32)):
  print(Fahrenhite )

In [ ]:
result = [x if x%2==0 else 'odd' for x in range(0,11)]
print(results)

NameError: ignored

In [ ]:
mylist = []
for x in [2,4,6]:
 for y in [1,100,1000]:
  mylist.append(x*y)
  print(mylist)

[2]
[2, 200]
[2, 200, 2000]
[2, 200, 2000, 4]
[2, 200, 2000, 4, 400]
[2, 200, 2000, 4, 400, 4000]
[2, 200, 2000, 4, 400, 4000, 6]
[2, 200, 2000, 4, 400, 4000, 6, 600]
[2, 200, 2000, 4, 400, 4000, 6, 600, 6000]

In [ ]:
mylist =[x*y for x in [2,4,6] for y in [1,100,1000]]
print(mylist)

[2, 200, 2000, 4, 400, 4000, 6, 600, 6000]

In [ ]:
st = 'sid is smart seductive and sexy and smart learner'
for word in st.split():
  print(word)

sid
is
smart
seductive
and
sexy
and
smart
learner

In [ ]:
st = 'john is smart  and smart learner'
for word in st.split():
 if word [0]=='s' or word[0] == "S":
  print(word)

smart
smart

In [ ]:

for num in range(0,11,2):
 print(num)

0
2
4
6
8
10

In [ ]:
[y for y in range(0,51) if y%3==0]

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [ ]:
st = 'print every word in this line that has an even number of letters'
for word in st.split():
  if len(word)% 2 == 0:
    print( word + " is even")

word is even
in is even
this is even
line is even
that is even
an is even
even is even
number is even
of is even

In [ ]:
for num in range(1,101):
 if num%3 == 0 and num%5 == 0:
  print('fizzBuzz')
  elif num%3 == 0:
   print('fizz')
  elif num%5 == 0:
   print('Buzz')
  else :
    print(num)

SyntaxError: ignored

In [ ]:
st = 'got a good job in germany as data analyst in berlin with 80000 euros'
for word in st.split():
  if word[0]=='g'
   print(word)

SyntaxError: ignored

In [ ]:
for num in range(1,101):
 if num%3 == 0 and num%5 == 0:
  print('fizzBuzz')
  elif num%3 == 0:
   print('fizz')
  elif num%5 == 0:
   print('Buzz')
  else :
    print(num)

SyntaxError: ignored

In [ ]:
mylist = [1,2,3,4]
mylist.append(5)
print(mylist)

[1, 2, 3, 4, 5]

In [ ]:
mylist = [1,2,3,4]
mylist.pop()
print(mylist)

[1, 2, 3]

In [ ]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [ ]:
def say_hello():
  print("hello")
  print("are")
  say_hello()

In [ ]:
def say_hello(name):
  print(f'Hello {name}')':
print(say_hello('jose'))

SyntaxError: ignored

In [ ]:
def print_result(a,b):
  print(a+b)
  def return_result(a,b):
    print (a+b)
print_result(10,20)

30

In [ ]:
21 % 2 == 0

False

In [ ]:
def even_check(number):
  return number % 2 == 0
even_check(20)

True

In [ ]:
even_check(21)

False

In [ ]:
def check_even_list(num_list):
    for num in num_list:
        if num % 2 == 0:
         return True;
        else:
             False

In [ ]:
check_even_list([1,2,3])

True

In [ ]:
def check_odd_list(num_list):
    for num in num_list:
        if num % 2 == 3:
         return True 
        else:
             False

In [ ]:
check_odd_list([6,9,6])

In [ ]:
stock_prices = [('sid',200),('is',300),('german',600)]
for item in stock_prices:
  print(item)

('sid', 200)
('is', 300)
('german', 600)

In [ ]:
for name,number in stock_prices:
  print(number+100)

300
400
700

In [ ]:
work_hours = [('abby',100),('billy',200),('sally',300)]

def employee_check(work_hours):
    current_max = 0
    employee_of_month = ''
    # return (employee_of_month,current_max)
    for employee,hours in work_hours:
      if hours > current_max:
        current_max = hours
        employee_of_month = employee
      else:
           pass
      # return(employee_of_month,current_max)
      print(employee_of_month,current_max)

employee_check(work_hours)

abby 100
billy 200
sally 300

In [ ]:
employee_check(work_hours)

abby 100
billy 200
sally 300

In [ ]:
example = [1,2,3,4,5,6,7]
from random import shuffle
shuffle(example)

In [ ]:
example

[1, 5, 6, 4, 7, 3, 2]

In [ ]:
example = [11,12,13,15,16,17,18,19]
from random import shuffle
result = shuffle(example)
result

In [ ]:
def shuffle_list(mylist):
  shuffle(mylist)
  return mylist

In [ ]:
result= shuffle_list(example)
result

[19, 17, 12, 13, 11, 18, 15, 16]

In [ ]:
mylist = ['','0','']
shuffle_list(mylist)

['', '', '0']

In [ ]:
def player_guess():
  guess=''
  
  guess = input("pick a number: 0,1, or 2")

In [ ]:
def myfunc(x):
    if x==True:
       return 'hello'
    elif x==False:
       return 'Goodbye'

In [ ]:
def myfunc(x,y,z):
    if z==True:
      return'x'
    else:
      return'y'

In [ ]:
def is_even(num):
  if num%2==0:
    return True
  else:
    return False

In [ ]:
def is_greater(a,b):
  if a>b:
     return True
  else:
    return False

In [ ]:
def myfunc(a,b,c,d,e):
  # Returns the 5% of the sum of a,b
  return sum((a,b,c,d,e))*0.05

In [ ]:
myfunc(5,15,20,30,40)

5.5

In [ ]:
def myfunc(a,b,c,d,e):
  # Returns the 5% if the sum of a and b
    return sum((a,b,c,d,e))*0.05

In [ ]:
myfunc(10,20,30,40,50)

7.5

In [ ]:
def myfunc(*args):
    return sum((args))*0.05

In [ ]:
myfunc(10,20,30,40,50,100)

12.5

In [ ]:
def myfunc(*args):
  for item in args:
    print(item)

In [ ]:
myfunc(10,20,30,40)

10
20
30
40

In [ ]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
      print('i like fruit is {}'.format(kwargs['fruit']))
    else:
       print('i do not find any fruit here')

In [ ]:
myfunc(fruit='apple')

i like fruit is apple

In [ ]:
def person(name,**data):
    print(name)
    print(data)

In [ ]:
person('sid',32,'mumbai',30031987)

TypeError: ignored

In [ ]:
def myfunc(*args):
  result = []
  for num in args:
    if num%2 == 0:
      result == result.append(num)
      # print("Even no - ",result)
    else:
      pass
  print("Even no - ",result)

In [ ]:
myfunc(10,20,21,30)

Even no -  [10, 20, 30]

In [ ]:
def lesser_events(a,b):
    if a%2==0 and b%2==0:
        if a < b:
          result = a
        else:
          result = b
    else:
        if a > b:
          result = a
        else:
          result = b
    return result

In [ ]:
lesser_events(2,4)

2

In [ ]:
def animal_craker(text):
  wordlist = text.split()
  print(wordlist)
  first = wordlist[0]
  second = wordlist[1]
  
  return first[0] == second[0]

In [ ]:
animal_craker('levelheaded lama')

['levelheaded', 'lama']

True

In [ ]:
animal_craker('crazy kangaru')

['crazy', 'kangaru']

False

In [ ]:
def makes_twenty(n1,n2):
  if n1 + n2 == 20:
    return True 
  elif n1 == 20:
    return True 
  elif n2 == 20:
    return True
  else:
    return False

In [ ]:
makes_twenty(20,3)

True

In [ ]:
def old_mcdonalds(name):
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[3:]
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [ ]:
def old_macdonalds(name):
    first_letter = name[0]
    second_letter = name[1:3]
    rest = name[3:]
    return first_letter.capitalize() + second_letter.capitalize() + rest

In [ ]:
old_macdonalds('macdonalds')

'MAcdonalds'

In [ ]:
def love_doctor(text):
    wordlist = text.split()
    reverse_word_list =wordlist [::-1]
    return reverse_word_list

In [ ]:
love_doctor('hi i am yoda')

['yoda', 'am', 'i', 'hi']

In [ ]:
def love_doctor(text):
    wordlist = text.split()
    reverse_word_list =wordlist [::-1]
    return ' '.join (reverse_word_list)

In [ ]:
love_doctor('hi i am yoda')

'yoda am i hi'

In [ ]:
def almost_there(n):
    return (abs(100-n) <= 10 or abs(200-n) <= 10)

In [ ]:
almost_there(209)

True

In [ ]:
def has_33(nums):
    for i in range(0,len(nums)-1):
      if nums[i] == 3 and nums[i+1] == 3:
        return True 
    return False

In [ ]:
has_33([1,3,3])

True

In [ ]:
def has_33(digits):
    for i in range(0,len(digits)-1):
      if digits[i] == 1 and digits[i+2] == 1:
        return True
    return False

In [ ]:
has_33([1,3,3])

False

In [ ]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
      return sum([a,b,c])
    elif 11 in (a,b,c) and sum([a,b,c]) <= 31:
      return sum([a,b,c])-10
    else:
      return "BUSTED"

In [ ]:
blackjack(9,9,11)

19

In [ ]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
     
      # if number is 6, pause adding
      if num == 6:
        add = False
      # if number is 9 and adding was paused
      # resume adding.
      elif num == 9 and add == False:
        add = True
        # Skip adding 9 in this loop iteration
        print("Reached 9, skip addition")
        continue
      if add == True:
        total += num
      print("Number: %s, total: %s, Add:%s"%(num, total, add))
    return total

In [ ]:
print(summer_69([4,5,6,7,8,9]))
print(summer_69([10,10,6,2,3,9,9]))
print(summer_69([6,6,9,10,0,6,5,6,9]))

Number: 4, total: 4, Add:True
Number: 5, total: 9, Add:True
Number: 6, total: 9, Add:False
Number: 7, total: 9, Add:False
Number: 8, total: 9, Add:False
Reached 9, skip addition
9
Number: 10, total: 10, Add:True
Number: 10, total: 20, Add:True
Number: 6, total: 20, Add:False
Number: 2, total: 20, Add:False
Number: 3, total: 20, Add:False
Reached 9, skip addition
Number: 9, total: 29, Add:True
29
Number: 6, total: 0, Add:False
Number: 6, total: 0, Add:False
Reached 9, skip addition
Number: 10, total: 10, Add:True
Number: 0, total: 10, Add:True
Number: 6, total: 10, Add:False
Number: 5, total: 10, Add:False
Number: 6, total: 10, Add:False
Reached 9, skip addition
10

In [ ]:
def square(num):
    return num**2

In [ ]:
 my_nums = [1,2,3,4,5]

In [ ]:
 for item in map(square,my_nums):
   print(item)

1
4
9
16
25

In [ ]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [ ]:
def splicer(mystring):
  if len(mystring)%2 == 0:
      return 'even'
  else:
      return mystring[1]

In [ ]:
names =['sid','is','god','of','ware']

In [ ]:
list(map(splicer,names))

['i', 'even', 'o', 'even', 'even']

In [ ]:
def check_even(num):
    return num%2 == 0

In [ ]:
mynums = [1,2,3,4]

In [ ]:
list(filter(check_even,mynums))

[2, 4]

In [ ]:
for item in filter(check_even,mynums):
  print(item)

2
4

In [ ]:
def square(num): return num**2

In [ ]:
square = lamda num:num ** 2

SyntaxError: ignored

In [ ]:
square(16)

256

In [ ]:
(list(filter(lamda num:num%2 == 0,mynums))

SyntaxError: ignored

In [ ]:
names

['sid', 'is', 'god', 'of', 'ware']

In [ ]:
list(map(lambda x:x[0],names))

['s', 'i', 'g', 'o', 'w']

In [ ]:
# to calulate the volume of the spere
def vol(rad):
  return  (4/3)*(3.14)*(rad**3)

In [ ]:
vol(2)

33.49333333333333

In [ ]:
#fucntion that checks a number is in the given range inclusive high and low
5 in range(0,6)

True

In [ ]:
def ran_check(num,low,high):
  return num in range(low,high+1)

In [ ]:
ran_check(5,4,7)

True

In [ ]:
def run_check(num,low,high):
    if num in range(low,high+1):
      print(f'{num} is in the range lwo high')
    else:
      print('not in range')

In [ ]:
run_check(5,8,7)

not in range

In [ ]:
# write a python function that accepts a string and calculates the upper case and lower case letters
def up_low(s):
    lowercase = 0
    uppercase = 0
    for char in s:
      if char.isupper():
        uppercase += 1
      if char.islower():
        lowercase +=1
      else:
        
        pass
    print(f'originalstring:{s}')
    print(f'Lowercase count: {lowercase}')
    print(f'Uppercase count: {uppercase}')

In [ ]:
up_low('Hello')

originalstring:Hello
Lowercase count: 4
Uppercase count: 1

In [ ]:
# function which takes the list and return the list with unique elements 
def unique_list(lst):
    return list(set(lst))

In [ ]:
unique_list([1,1,1,1,2,3,4,4,5,6])

[1, 2, 3, 4, 5, 6]

In [ ]:
#  write a function that checks whether a word is in palindrom or not
def palindrom(s):
   # remove spaces 
    s = s.replace(' ','')
   #next step is to check if the string is == reversed version of the string
     s == [::-1]

SyntaxError: ignored

In [ ]:
row1 = ['',',','']
row2 = ['',',','']
row3 = ['',',','']

In [ ]:
display(row1,row2,row3)

['', ',', '']

['', ',', '']

['', ',', '']

In [ ]:
row1[2] ='x'

In [ ]:
display(row1,row2,row3)

['', ',', 'x']

['', ',', '']

['', ',', '']

In [ ]:
result = input("enter a value")

enter a value2

In [ ]:
type(result)

str

In [ ]:
result_int = int(result)

In [ ]:
type(result_int)

int

In [ ]:
position_index = int(input("choose a position index : "))
type(position_index)
row2[position_index]

choose a position index : 2

''

In [ ]:
def user_choice():
    choice = input("Please enter a number (0-10): ")
    return int(choice)

In [ ]:
user_choice()

Please enter a number (0-10): 9

9

In [ ]:
# how to check if a users string input is number

In [ ]:
# user input 
def user_choice():
    
    while choice.isdigit() == False:

     choice = input("enter a number please(0-10): ")
    return int(choice)

In [ ]:
user_choice()

enter a number please(0-10): 9

9

In [ ]:
def user_choice():
    choice = "wrong"
    # why do we give brackets
    while choice.isdigit() == False:
          choice = input("please enter a number (0-10): ")
          if choice.isdigit() == False:
            print('sorry that is not a digit')
    return int(choice)

In [ ]:
user_choice()

sorry that is not a digit
please enter a number (0-10): 9

9

In [ ]:
result = "wrong value"
acceptable_value = [1,2,3]
result in acceptable_value

False

In [ ]:
def user_noise():
    noise = "wrong"
    while noise.isdigit() == False:
      noise = input("ENTER THE DRAGON(0-10): ")
      if noise.isdigit() == False:
        print('sorry thats not a digit')
    return int(noise)

In [ ]:
user_noise()

ENTER THE DRAGON(0-10): t
sorry thats not a digit
ENTER THE DRAGON(0-10): 1

1

In [ ]:
def user_choice():
    choice = "wrong"
    acceptable_range = (0,10)
    within_range = False
    # two conditions to check, Digits and within the range(0,10) == False
    while choice.isdigit() == False:
          choice = input("please enter a number (0,10): ")
          # digit check
          if choice.isdigit() == False:
            print('sorry that is not a digit')
          # Range check
          if choice.isdigit() == True:
            if int(choice) in acceptable_range:
                within_range = True
                break
          else:
              print('sorry you are out of the acceptable range')
              within_range = False
          
    return int(choice)

In [ ]:







user_choice()

please enter a number (0,10): 11

11

In [ ]:
# game with user input 
game_list = [0,1,2]
def display_game(game_list):
    print("here is the current list")
    print(game_list)

In [ ]:
display_game(game_list)

here is the current list
[0, 1, 2]

In [ ]:
def position_choice():
    choice = 'wrong'
    while choice not in ['0','1','2']:
      choice = input("pick a position(0,1,2): ")
      if choice not in ('0','1','2'):
            print('sorry invalid choice! ')
      else:
            print("right choice")
    return int(choice)

In [ ]:
position_choice()

pick a position(0,1,2): 0
right choice

0

In [ ]:
def replacement_choice(game_list,position):
    user_placement = input("type a string to place at position: ")
    game_list[position] = user_placement
    return game_list

In [ ]:
replacement_choice(game_list,1)

type a string to place at position: aman

[0, 'aman', 2]

In [ ]:
def gameon_choice():
    choice = 'wrong'
    while choice not in ['Y','N']:
      choice = input("KEEP PLAYING? (Y OR N) ")
      if choice not in ('Y','N'):
            print('Sorry system  doesnt understand, please choose Y OR N ')
    if choice == 'Y':
      return True 
    else:
      return False

In [ ]:
gameon_choice()

KEEP PLAYING? (Y OR N) y
Sorry system  doesnt understand, please choose Y OR N
KEEP PLAYING? (Y OR N) n
Sorry system  doesnt understand, please choose Y OR N
KEEP PLAYING? (Y OR N) N

False

In [ ]:
game_on = True
game_list = [0,1,2]
while game_on:
    display_game(game_list)
    position = position_choice()
    game_list = replacement_choice(game_list,position)
    display_game(game_list)
    game_on = gameon_choice()

here is the current list
[0, 1, 2]
right choice
here is the current list
[0, 'AMAN', 2]

In [ ]:
# class attributes 
class Dog():
  def __init__(self,breed,name,spots):
    self.breed = breed
    self.name = name
    self.spots = spots

In [ ]:
my_dog = Dog(breed='bully',name = 'june',spots ="no spots")

In [ ]:
my_dog.spots

'no spots'

In [ ]:
class Circle():
    #class object attribute
    pi = 3.14

    
    def __init__(self,radius=2):
      self.radius = radius
      self.area = radius*radius* self.pi
    # method 
    def get_circumference(self):
      return  self.radius * self.pi * 2

In [ ]:
my_circle = Circle()

In [ ]:
my_circle.radius

2

In [ ]:
my_circle.get_circumference()

12.56

In [ ]:
my_circle.area

12.56

In [ ]:
class Animal():
  def __init__(self):
    print("ANIMAL CREATED")
  # add two more methods
  def who_am_i(self):
    print("I AM MR ANIMAL")
  def eat(self):
    print("I AM EATING")

In [ ]:
  class Dog(Animal):
      def __init__(self):
          Animal.__init__(self)
          print("DOG CREATED")

In [ ]:
my_animal = Animal()

ANIMAL CREATED

In [ ]:
my_dog = Dog()

ANIMAL CREATED
DOG CREATED

In [ ]:
my_animal.eat()

I AM EATING

In [ ]:
my_dog.eat()

I AM EATING

In [ ]:
my_animal.who_am_i()

I AM MR ANIMAL

In [ ]:
class Dog():
  def __init__(self,name):
      self.name = name
  #method
  def speak(self):
      return self.name + " says woof"

In [ ]:
class cat():
  def __init__ (self,name):
    self.name = name
  #method
  def speak(self):
      return self.name + "  says meow"

In [ ]:
niko = Dog("niko")
felix = cat("felix")

In [ ]:
print(niko.speak())

nikosays woof

In [ ]:
print(felix.speak())

felix says meow

In [ ]:
for pet in [niko,felix]:
  print(type(pet))
  print(pet.speak())

<class '__main__.Dog'>
nikosays woof
<class '__main__.cat'>
felix says meow

In [ ]:
def pet_speak(pet):
  print(pet.speak())

In [ ]:
pet_speak(niko)

nikosays woof

In [ ]:
class Book():
    def __init__(self,title,author,pages):
        self.title = title
        self.author = author
        self.pages = pages
    def __str__(self):
      return f"{self.title} by {self.author}"
    def __len__(self):
      return (self.pages)

In [ ]:
b = Book('python rocks','sid',200)

In [ ]:
print(b)

python rocks by sid

In [ ]:
len(b)

200

In [ ]:
class Account():
    def __init__(self,owner,balance=0):
        self.owner = owner
        self.balance = balance
    def deposit (self,dep_amount):
        self.balance = self.balance + dep_amount
        print(f" Added {dep_amount} to the balance")
    def withdrawl(self,widr_amount):
        if self.balance > widr_amount:
          self.balance = self.balance - widr_amount
          print("Withdrawl accepted")
        else:
          print("not enough funds")
    def __str__(self):
      return f"owner: {self.owner} \nbalance: {self.balance}"

In [ ]:
a = Account("sam",500)

In [ ]:
a.owner

'sam'

In [ ]:
a.balance

500

In [ ]:
print(a)

owner: sam balance: 500

In [ ]:
a.deposit(500)

 Added 500 to the balance

In [ ]:
print(a)

owner: sam balance: 500

In [ ]:
a.deposit(100)

 Added 100 to the balance

In [ ]:
print(a)

owner: sam balance: 600

In [ ]:
a.withdrawl(300)

Withdrawl accepted

In [ ]:
print(a)

owner: sam balance: 300

In [ ]:
def ask_for_int():
    while True:
      try:
            result = int(input("please enter a number: "))
      except:
            print("thats not a number")
            continue
      else:
            print("thank you")
            break

In [ ]:
ask_for_int()

please enter a number: we
thats not a number
please enter a number: 1
thank you

In [ ]:
try:
    for i in ['a','b','c']:
        print(i**2)
except:
      print('watch out nigga')

watch out nigga

In [ ]:
try:
    x = 5
    y = 0
    z = x/y
except:
        print('all good')

all good

In [ ]:

# result with square number
def ask():
    waiting = True
    while waiting:
      try:
        n = int(input("please enter a number"))
      except:
        print("enter a valid input")
        continue
      else:
        break
    print("you square number is : ")
    print(n**2)

In [ ]:
ask()

please enter a numbera
enter a valid input
please enter a number1
you square number is :
1

In [ ]:
def ask():
  while True:
    try:
       n = int(input("please enter a number"))
    except:
        print("enter a valid number")
        continue
    else:
        break
  print("the square of your number is: ")
  print(n**2)

In [ ]:
ask()

please enter a numberq
enter a valid number
please enter a numberw
enter a valid number
please enter a numbere
enter a valid number
please enter a number2
the square of your number is:
4

In [ ]:
import requests
result = requests.get("http://www.example.com")
type(result)

requests.models.Response

In [ ]:
result.text

'<!doctype html>\n<html>\n<head>\n    <title>Example Domain</title>\n\n    <meta charset="utf-8" />\n    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />\n    <meta name="viewport" content="width=device-width, initial-scale=1" />\n    <style type="text/css">\n    body {\n        background-color: #f0f0f2;\n        margin: 0;\n        padding: 0;\n        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;\n        \n    }\n    div {\n        width: 600px;\n        margin: 5em auto;\n        padding: 2em;\n        background-color: #fdfdff;\n        border-radius: 0.5em;\n        box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);\n    }\n    a:link, a:visited {\n        color: #38488f;\n        text-decoration: none;\n    }\n    @media (max-width: 700px) {\n        div {\n            margin: 0 auto;\n            width: auto;\n        }\n    }\n    </style>    \n</head>\n\n<body>\n<div>\n    <h1>Example Domain</h1>\n    <p>This domain is for use in illustrative examples in documents. You may use this\n    domain in literature without prior coordination or asking for permission.</p>\n    <p><a href="https://www.iana.org/domains/example">More information...</a></p>\n</div>\n</body>\n</html>\n'

In [ ]:
import bs4
soup = bs4.BeautifulSoup(result.text,"lmxl")

FeatureNotFound: ignored

In [ ]:
soup

NameError: ignored

In [ ]:
import request
res = requests.get("https://en.wikipedia.org/wiki/Grace_Hopper")
soup = soup.BeautifulSoup(res.text,"lxml")

ModuleNotFoundError: ignored